.workTitle {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: Quicksand, Arial, sans-serif;
}
.workHeading {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
    margin: 0 0 30px;
    color: #000;
    font-family: Playfair Display, Georgia, serif;
}
.imgContainer img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.overLay{
    /* transform: translateY(100%); */
    padding-bottom: 120px;
    opacity: 0;
    transition-property: all ;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    
}
.imgContainer:hover .overLay{
    /* transform: translateY(0); */
    opacity: 1;
}